@import "tailwindcss";

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vh;
  height: 100vh;
}
.container{
  width: 364px;
  height: 162px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

}
.num{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 1);
  margin-left: -26px;
}
.encabezado{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px 5px 0px 0px;
  background-color: rgba(235, 87, 87, 1);
  height: 67px;
  gap: 40px;
}
.topico{
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  margin-left: -30px;
  margin-right: 20px;
}
.codigo{
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  margin-right: -20px;
}
.imagen{
  margin-left: -5px;
  margin-right: -16px;
}
.done{
  display: flex;
  align-items: center;
  justify-content: start;
  width: 363;
  height: 39;
  gap: 10px;
  padding-top: 30px;
  padding-right: 21px;
  padding-bottom: 10px;
  padding-left: 21px;
}
.fin{
  display: flex;
  align-items: center;
  justify-content: start;
  width: 364;
  height: 36;
  padding-top: 37px;
  padding-left: 5px;
  margin-left: 9px;
  gap: 220px;
}
.act{
  gap: 20px;
  font-family: Lato;
  font-weight: 400;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(136, 136, 136, 1);


}
.fecha{
  font-family: Lato;
  font-weight: 400;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  color: rgba(136, 136, 136, 1);

}
.line{
  position:absolute;
  width: 330px;
  border: 1px solid rgba(219, 219, 219, 1);
  top: 500px;
  left: 300px;
}